<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Progress page</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" href="/static/css/poll.css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script type="text/javascript" src="/static/js/socket.io.js"></script>
        <script type="text/javascript" src="/static/js/progress.js"></script>
    </head>
    <body>
        <h1 class="entry-title">Progress</h1>
        <div id="progressbar"><div class="progress-label">Computing ...</div></div>
        <div id="slider"></div>
        <div id="status"></div>
    </body>
</html>
